{% include 'header' %}
import Vitamins

// MARK: - {{ module_info.name }}Presenter

final class {{ module_info.name }}Presenter {

    // MARK: - VIPER stack

    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput!
    var router: {{ module_info.name }}RouterInput!

    weak var moduleOutput: ModuleOutput?

    // MARK: -

}

// MARK: - {{ module_info.name }}ViewOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {

}

// MARK: - {{ module_info.name }}InteractorOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput {

}

// MARK: - {{ module_info.name }}ModuleInput

extension {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInput {

}
