{% include 'header' %}
import Vitamins

// MARK: - {{ module_info.name }}ViewOutput

protocol {{ module_info.name }}ViewOutput: class {

}

// MARK: - {{ module_info.name }}InteractorOutput

protocol {{ module_info.name }}InteractorOutput: class {

}

// MARK: - {{ module_info.name }}ModuleInput

protocol {{ module_info.name }}ModuleInput: ModuleInput {

}
