{% include 'header' %}
import Swinject
import SwinjectStoryboard

final class {{ module_info.name }}Assembly: AssemblyType {

    func assemble(container: Container) {
        container.register({{ module_info.name }}Interactor.self) { _ in {{ module_info.name }}Interactor() }
        container.register({{ module_info.name }}Presenter.self) { _ in {{ module_info.name }}Presenter() }
        container.register({{ module_info.name }}Router.self) { _ in {{ module_info.name }}Router() }
        container.registerForStoryboard({{ module_info.name }}ViewController.self) { r, view in
            let interactor = r.resolve({{ module_info.name }}Interactor.self)
            let presenter = r.resolve({{ module_info.name }}Presenter.self)
            let router = r.resolve({{ module_info.name }}Router.self)

            view.presenter = presenter
            view.moduleInput = presenter
            interactor?.presenter = presenter
            presenter?.view = view
            presenter?.interactor = interactor
            presenter?.router = router
            router?.transitionHandler = view
        }
    }

}
