{% include 'header' %}
import UIKit
import Vitamins

// MARK: - {{ module_info.name }}ViewController

final class {{ module_info.name }}ViewController: UIViewController, TransitionHandler {

    // MARK: - VIPER stack

    var presenter: {{ module_info.name }}ViewOutput!

    // MARK: -

}

// MARK: - {{ module_info.name }}ViewInput

extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewInput {

}
