{% include 'header' %}
import Rattle

final class {{ module_info.name }}Router {

    weak var transitionHandler: TransitionHandler!

}

extension {{ module_info.name }}Router: {{ module_info.name }}RouterInput {

}
