{% include 'header' %}
import Vitamins

// MARK: - {{ module_info.name }}Router

final class {{ module_info.name }}Router {

    // MARK: - VIPER stack

    weak var transitionHandler: TransitionHandler!

    // MARK: -

}

// MARK: - {{ module_info.name }}RouterInput

extension {{ module_info.name }}Router: {{ module_info.name }}RouterInput {

}
