{% include 'header' %}
final class {{ module_info.name }}Interactor {

    weak var output: {{ module_info.name }}InteractorOutput!

}

extension {{ module_info.name }}Interactor: {{ module_info.name }}InteractorInput {

}
