{% include 'header' %}
import XCTest
{% for target in module_info.project_targets %}@testable import {{ target }}{% endfor %}

final class {{ module_info.name }}ViewTests: XCTestCase {

    override func setUp() {
        super.setUp()

    }

    override func tearDown() {

        super.tearDown()
    }

}
