{% include 'header' %}
import XCTest
{% for target in module_info.project_targets %}@testable import {{ target }}{% endfor %}

final class {{ module_info.name }}PresenterTests: XCTestCase {

    override func setUp() {
        super.setUp()

    }

    override func tearDown() {

        super.tearDown()
    }

    class MockInteractor: {{ module_info.name }}InteractorInput {

    }

    class MockRouter: {{ module_info.name }}RouterInput {

    }

    class MockViewController: {{ module_info.name }}ViewInput {

    }

}
