{% include 'header' %}
import UIKit
import Rattle

final class {{ module_info.name }}ViewController: UIViewController, TransitionHandler {

    var output: {{ module_info.name }}ViewOutput!
    var moduleInput: ModuleInput?
    var moduleOutput: ModuleOutput?

    // MARK: Life cycle

    override func viewDidLoad() {
        super.viewDidLoad()

    }

}

extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewInput {

}
